#    Practica 06

In [1]:
#importar librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn 
from sklearn import datasets
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_validate
#Classifiers
from sklearn.svm import LinearSVC, SVC #smo
from sklearn.tree import DecisionTreeClassifier #j48
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier #adaboost
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB #NB

In [2]:
#cargar dataset iris desde csv
df = pd.read_csv('C:/Users/alexs/Documents/programacion/InteligenciaArtificial_Negocios/Jupiter/datasets/gbsg.csv')
df

,Unnamed: 0,pid,age,meno,size,grade,nodes,pgr,er,hormon,rfstime,status
0,1,132,49,0,18,2,2,0,0,0,1838,0
1,2,1575,55,1,20,3,16,0,0,0,403,1
2,3,1140,56,1,40,3,3,0,0,0,1603,0
3,4,769,45,0,25,3,1,0,4,0,177,0
4,5,130,65,1,30,2,5,0,36,1,1855,0
...,...,...,...,...,...,...,...,...,...,...,...,...
681,682,586,51,0,30,3,2,1152,38,1,1760,0
682,683,1273,64,1,26,2,2,1356,1144,1,1152,0
683,684,1525,57,1,35,3,1,1490,209,1,1342,0
684,685,736,44,0,21,2,3,1600,70,0,629,0
685,686,894,80,1,7,2,7,2380,972,1,758,0

# Entendimiento de datos

In [3]:
df.isnull().sum()

Unnamed: 0    0
pid           0
age           0
meno          0
size          0
grade         0
nodes         0
pgr           0
er            0
hormon        0
rfstime       0
status        0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  686 non-null    int64
 1   pid         686 non-null    int64
 2   age         686 non-null    int64
 3   meno        686 non-null    int64
 4   size        686 non-null    int64
 5   grade       686 non-null    int64
 6   nodes       686 non-null    int64
 7   pgr         686 non-null    int64
 8   er          686 non-null    int64
 9   hormon      686 non-null    int64
 10  rfstime     686 non-null    int64
 11  status      686 non-null    int64
dtypes: int64(12)
memory usage: 64.4 KB

In [5]:
df.shape

(686, 12)

In [6]:
df.describe()

,Unnamed: 0,pid,age,meno,size,grade,nodes,pgr,er,hormon,rfstime,status
count,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000
mean,343.500000,966.061224,53.052478,0.577259,29.329446,2.116618,5.010204,109.995627,96.252187,0.358601,1124.489796,0.435860
std,198.175427,495.506249,10.120739,0.494355,14.296217,0.582808,5.475483,202.331552,153.083963,0.479940,642.791948,0.496231
min,1.000000,1.000000,21.000000,0.000000,3.000000,1.000000,1.000000,0.000000,0.000000,0.000000,8.000000,0.000000
25%,172.250000,580.750000,46.000000,0.000000,20.000000,2.000000,1.000000,7.000000,8.000000,0.000000,567.750000,0.000000
50%,343.500000,1015.500000,53.000000,1.000000,25.000000,2.000000,3.000000,32.500000,36.000000,0.000000,1084.000000,0.000000
75%,514.750000,1340.500000,61.000000,1.000000,35.000000,2.000000,7.000000,131.750000,114.000000,1.000000,1684.750000,1.000000
max,686.000000,1819.000000,80.000000,1.000000,120.000000,3.000000,51.000000,2380.000000,1144.000000,1.000000,2659.000000,1.000000

In [7]:
df.drop(columns=['pid'])
df

,Unnamed: 0,pid,age,meno,size,grade,nodes,pgr,er,hormon,rfstime,status
0,1,132,49,0,18,2,2,0,0,0,1838,0
1,2,1575,55,1,20,3,16,0,0,0,403,1
2,3,1140,56,1,40,3,3,0,0,0,1603,0
3,4,769,45,0,25,3,1,0,4,0,177,0
4,5,130,65,1,30,2,5,0,36,1,1855,0
...,...,...,...,...,...,...,...,...,...,...,...,...
681,682,586,51,0,30,3,2,1152,38,1,1760,0
682,683,1273,64,1,26,2,2,1356,1144,1,1152,0
683,684,1525,57,1,35,3,1,1490,209,1,1342,0
684,685,736,44,0,21,2,3,1600,70,0,629,0
685,686,894,80,1,7,2,7,2380,972,1,758,0

In [8]:
df=df.drop(columns=['Unnamed: 0'])
df

      pid  age  meno  size  grade  nodes   pgr    er  hormon  rfstime  status
0     132   49     0    18      2      2     0     0       0     1838       0
1    1575   55     1    20      3     16     0     0       0      403       1
2    1140   56     1    40      3      3     0     0       0     1603       0
3     769   45     0    25      3      1     0     4       0      177       0
4     130   65     1    30      2      5     0    36       1     1855       0
..    ...  ...   ...   ...    ...    ...   ...   ...     ...      ...     ...
681   586   51     0    30      3      2  1152    38       1     1760       0
682  1273   64     1    26      2      2  1356  1144       1     1152       0
683  1525   57     1    35      3      1  1490   209       1     1342       0
684   736   44     0    21      2      3  1600    70       0      629       0
685   894   80     1     7      2      7  2380   972       1      758       0

[686 rows x 11 columns]

In [9]:
df['status'].value_counts()

0    387
1    299
Name: status, dtype: int64

# Preprocesamiento de datos

In [10]:
X = df.drop(columns =['status'])
Y = df['status']

In [11]:
#tratamiento de datos faltantes

In [12]:
#balanceo de clases
oversample = SMOTE()
X, Y = oversample.fit_resample(X, Y)
Y.value_counts()

0    387
1    387
Name: status, dtype: int64

# Division del dataset

In [13]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.30)

# Clasificadores

In [14]:
#decision tree
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
print("accurancy: ",model.score(x_test, y_test)*100)

accurancy:  76.39484978540773

In [15]:
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)

In [16]:
results = pd.DataFrame(result)
results.shape

(10, 6)

In [17]:
results.head(10)

,fit_time,score_time,test_accuracy,test_precision_weighted,test_recall_weighted,test_f1_weighted
0,0.013999,0.013003,0.756410,0.770833,0.756410,0.753123
1,0.009998,0.011000,0.730769,0.759615,0.730769,0.723077
2,0.011999,0.017002,0.846154,0.849834,0.846154,0.845748
3,0.012001,0.014000,0.756410,0.757937,0.756410,0.756049
4,0.013001,0.013000,0.779221,0.779335,0.779221,0.779146
5,0.009001,0.011001,0.701299,0.707483,0.701299,0.698447
6,0.008003,0.013003,0.688312,0.715613,0.688312,0.676836
7,0.012996,0.015005,0.714286,0.720189,0.714286,0.712834
8,0.011997,0.024012,0.844156,0.852435,0.844156,0.843043
9,0.009000,0.013002,0.623377,0.650974,0.623377,0.602815

In [18]:
results['test_accuracy'].mean()

0.7440392940392941

In [19]:
results['test_recall_weighted'].mean()

0.7440392940392941

In [20]:
results['test_precision_weighted'].mean()

0.7564247523044518

In [21]:
results['test_f1_weighted'].mean()

0.7391119114846668

In [22]:
# Random Forest

In [23]:
model = RandomForestClassifier()
model.fit(x_train, y_train)
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)
results = pd.DataFrame(result)
results.shape

(10, 6)

In [24]:
results['test_accuracy'].mean()

0.744039294039294

In [25]:
results['test_recall_weighted'].mean()

0.744039294039294

In [26]:
results['test_precision_weighted'].mean()

0.7613561674089016

In [27]:
results['test_f1_weighted'].mean()

0.7363716017338399

In [28]:
#AdaBoost

In [29]:
model = AdaBoostClassifier()
model.fit(x_train, y_train)
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)
results = pd.DataFrame(result)
results.shape

(10, 6)

In [30]:
results['test_accuracy'].mean()

0.6807858807858809

In [31]:
results['test_recall_weighted'].mean()

0.6807858807858809

In [32]:
results['test_precision_weighted'].mean()

0.709115181718095

In [33]:
results['test_f1_weighted'].mean()

0.6576227719551325

In [34]:
#ExtraTrees

In [35]:
model = ExtraTreesClassifier()
model.fit(x_train, y_train)
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)
results = pd.DataFrame(result)
results.shape

(10, 6)

In [36]:
results['test_accuracy'].mean()

0.7621212121212122

In [37]:
results['test_recall_weighted'].mean()

0.7621212121212122

In [38]:
results['test_precision_weighted'].mean()

0.7728794484964563

In [39]:
results['test_f1_weighted'].mean()

0.7573937788418537

In [40]:
#KNeighbors

In [41]:
model = KNeighborsClassifier()
model.fit(x_train, y_train)
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)
results = pd.DataFrame(result)
results.shape

(10, 6)

In [42]:
results['test_accuracy'].mean()

0.7568265068265069

In [43]:
results['test_recall_weighted'].mean()

0.7568265068265069

In [44]:
results['test_precision_weighted'].mean()

0.7675501098808258

In [45]:
results['test_f1_weighted'].mean()

0.7536786816649651

In [46]:
#GaussianNB

In [47]:
model = GaussianNB()
model.fit(x_train, y_train)
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)
results = pd.DataFrame(result)
results.shape

(10, 6)

In [48]:
results['test_accuracy'].mean()

0.6587912087912088

In [49]:
results['test_recall_weighted'].mean()

0.6587912087912088

In [50]:
results['test_precision_weighted'].mean()

0.6809054758508589

In [51]:
results['test_f1_weighted'].mean()

0.644952212794254