# Practica 05

In [1]:
#importar librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn 
from sklearn import datasets

# seleccion de datos

In [2]:
#cargar dataset iris desde csv
df = pd.read_csv('C:/Users/alexs/Documents/programacion/InteligenciaArtificial_Negocios/Jupiter/datasets/pima-indians-diabetes.csv')
df

     timesPregnant   PG  DBP  TST   SI   BMI    DPF  age  Diabetes
0                6  148   72   35    0  33.6  0.627   50         1
1                1   85   66   29    0  26.6  0.351   31         0
2                8  183   64    0    0  23.3  0.672   32         1
3                1   89   66   23   94  28.1  0.167   21         0
4                0  137   40   35  168  43.1  2.288   33         1
..             ...  ...  ...  ...  ...   ...    ...  ...       ...
763             10  101   76   48  180  32.9  0.171   63         0
764              2  122   70   27    0  36.8  0.340   27         0
765              5  121   72   23  112  26.2  0.245   30         0
766              1  126   60    0    0  30.1  0.349   47         1
767              1   93   70   31    0  30.4  0.315   23         0

[768 rows x 9 columns]

In [3]:
df.describe()

,timesPregnant,PG,DBP,TST,SI,BMI,DPF,age,Diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [4]:
df.head()

   timesPregnant   PG  DBP  TST   SI   BMI    DPF  age  Diabetes
0              6  148   72   35    0  33.6  0.627   50         1
1              1   85   66   29    0  26.6  0.351   31         0
2              8  183   64    0    0  23.3  0.672   32         1
3              1   89   66   23   94  28.1  0.167   21         0
4              0  137   40   35  168  43.1  2.288   33         1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timesPregnant  768 non-null    int64
 1   PG             768 non-null    int64
 2   DBP            768 non-null    int64
 3   TST            768 non-null    int64
 4   SI             768 non-null    int64
 5   BMI            768 non-null    float64
 6   DPF            768 non-null    float64
 7   age            768 non-null    int64
 8   Diabetes       768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
df.isnull().sum()

timesPregnant    0
PG               0
DBP              0
TST              0
SI               0
BMI              0
DPF              0
age              0
Diabetes         0
dtype: int64

# preprocesamiento de los datos

In [7]:
df2 = df.fillna(df.mean(numeric_only = True))
df2

     timesPregnant   PG  DBP  TST   SI   BMI    DPF  age  Diabetes
0                6  148   72   35    0  33.6  0.627   50         1
1                1   85   66   29    0  26.6  0.351   31         0
2                8  183   64    0    0  23.3  0.672   32         1
3                1   89   66   23   94  28.1  0.167   21         0
4                0  137   40   35  168  43.1  2.288   33         1
..             ...  ...  ...  ...  ...   ...    ...  ...       ...
763             10  101   76   48  180  32.9  0.171   63         0
764              2  122   70   27    0  36.8  0.340   27         0
765              5  121   72   23  112  26.2  0.245   30         0
766              1  126   60    0    0  30.1  0.349   47         1
767              1   93   70   31    0  30.4  0.315   23         0

[768 rows x 9 columns]

In [8]:
df2.isnull().sum()

timesPregnant    0
PG               0
DBP              0
TST              0
SI               0
BMI              0
DPF              0
age              0
Diabetes         0
dtype: int64

In [9]:
df3 = df.fillna(df.median(numeric_only = True))
df3

     timesPregnant   PG  DBP  TST   SI   BMI    DPF  age  Diabetes
0                6  148   72   35    0  33.6  0.627   50         1
1                1   85   66   29    0  26.6  0.351   31         0
2                8  183   64    0    0  23.3  0.672   32         1
3                1   89   66   23   94  28.1  0.167   21         0
4                0  137   40   35  168  43.1  2.288   33         1
..             ...  ...  ...  ...  ...   ...    ...  ...       ...
763             10  101   76   48  180  32.9  0.171   63         0
764              2  122   70   27    0  36.8  0.340   27         0
765              5  121   72   23  112  26.2  0.245   30         0
766              1  126   60    0    0  30.1  0.349   47         1
767              1   93   70   31    0  30.4  0.315   23         0

[768 rows x 9 columns]

In [10]:
df3.isnull().sum()

timesPregnant    0
PG               0
DBP              0
TST              0
SI               0
BMI              0
DPF              0
age              0
Diabetes         0
dtype: int64

# clasificacion

In [12]:
#df1
from sklearn.model_selection import train_test_split
X = df.drop(columns=['Diabetes'])
Y =  df['Diabetes']
x_train, x_test , y_train,y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [13]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model

DecisionTreeClassifier()

In [ ]:
model.fit(x_train, y_train)

In [ ]:
print("Accuracy: ",model.score(x_test,y_test)*100)

# Arboles

In [ ]:
from sklearn import tree
from sklearn.tree import export_text
arbol = model.fit(x_train,y_train)
tree.plot_tree(arbol)

In [ ]:
#mostrar la tabla en un array
r = export_text(arbol,feature_names = diabetes['feature_names'])
print(r)