# Proyecto Final

In [1]:
#Importar librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import datasets
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import cross_validate
#Classifiers
from sklearn.svm import LinearSVC, SVC #smo
from sklearn.tree import DecisionTreeClassifier #j48
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier #adaboost
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB #NB

In [2]:
#Cargar dataset
df = pd.read_csv('C:/Users/azayas/Downloads/test02.csv')
df

,semestre,StepsT,StepsA,StepsSD,DistT,DistA,DistSD,HRA,HRSD,floorsT,floorsA,floorsSD,SuenoLigero,SuenoProfundo,Clase
0,8,651,10.8500,18.2719,0.2044,0.0034,0.0081,88.53,7.9134,1,0.0167,0.128,81,483,1
1,6,9,0.1500,1.1522,0.0061,0.0001,0.0008,79.93,4.6147,0,0.0000,0.000,20,285,2
2,6,42,0.7000,2.3826,0.0196,0.0003,0.0013,90.65,4.6434,0,0.0000,0.000,43,320,2
3,8,378,6.3000,11.1763,0.2731,0.0046,0.0081,86.05,5.9594,0,0.0000,0.000,16,475,1
4,8,32,0.5333,2.3977,0.0221,0.0004,0.0017,75.28,4.7049,0,0.0000,0.000,21,184,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472,8,294,4.9000,10.9601,0.0000,0.0000,0.0000,69.47,4.1282,0,0.0000,0.000,37,378,1
1473,8,17,0.2833,1.5285,0.0000,0.0000,0.0000,78.57,4.0635,0,0.0000,0.000,13,483,1
1474,8,190,3.1667,9.4572,0.0000,0.0000,0.0000,67.05,5.6875,0,0.0000,0.000,13,483,2
1475,8,128,2.1333,5.5811,0.0000,0.0000,0.0000,70.80,3.3754,0,0.0000,0.000,37,378,3
1476,6,0,0.0000,0.0000,0.0063,0.0001,0.0006,80.53,2.6550,0,0.0000,0.000,59,470,1

# Entendimiento de los datos

In [3]:
df.describe()

,semestre,StepsT,StepsA,StepsSD,DistT,DistA,DistSD,HRA,HRSD,floorsT,floorsA,floorsSD,SuenoLigero,SuenoProfundo,Clase
count,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000,1477.000000
mean,7.248477,643.677725,5.158917,9.089846,0.453915,0.003034,0.005682,83.511547,6.700330,0.657414,0.005902,0.039350,27.568043,374.108328,1.610020
std,0.968966,10061.841653,7.617330,8.244214,7.566942,0.004574,0.005566,10.677834,3.218145,9.197496,0.017612,0.269846,18.689780,133.587818,0.702961
min,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.670000,0.000000,0.000000,0.000000,0.000000,1.000000,51.000000,1.000000
25%,6.000000,43.000000,0.716700,2.933500,0.018100,0.000300,0.001300,76.570000,4.561800,0.000000,0.000000,0.000000,13.000000,320.000000,1.000000
50%,8.000000,159.000000,2.633300,7.321400,0.087600,0.001400,0.004400,82.680000,6.161200,0.000000,0.000000,0.000000,23.000000,402.000000,1.000000
75%,8.000000,374.000000,6.200000,12.531100,0.233300,0.003800,0.008200,90.130000,8.173300,0.000000,0.000000,0.000000,40.000000,465.000000,2.000000
max,8.000000,365453.000000,68.000000,49.174200,254.960900,0.043100,0.033600,147.310000,48.226500,333.000000,0.300000,10.000000,91.000000,656.000000,3.000000

In [4]:
df.head()

,semestre,StepsT,StepsA,StepsSD,DistT,DistA,DistSD,HRA,HRSD,floorsT,floorsA,floorsSD,SuenoLigero,SuenoProfundo,Clase
0,8,651,10.8500,18.2719,0.2044,0.0034,0.0081,88.53,7.9134,1,0.0167,0.128,81,483,1
1,6,9,0.1500,1.1522,0.0061,0.0001,0.0008,79.93,4.6147,0,0.0000,0.000,20,285,2
2,6,42,0.7000,2.3826,0.0196,0.0003,0.0013,90.65,4.6434,0,0.0000,0.000,43,320,2
3,8,378,6.3000,11.1763,0.2731,0.0046,0.0081,86.05,5.9594,0,0.0000,0.000,16,475,1
4,8,32,0.5333,2.3977,0.0221,0.0004,0.0017,75.28,4.7049,0,0.0000,0.000,21,184,2

In [5]:
df.columns

Index(['semestre', 'StepsT', 'StepsA', 'StepsSD', 'DistT', 'DistA', 'DistSD',
       'HRA', 'HRSD', 'floorsT', 'floorsA', 'floorsSD', 'SuenoLigero',
       'SuenoProfundo', 'Clase'],
      dtype='object')

In [6]:
df.shape

(1477, 15)

In [7]:
df.isnull().sum()

semestre         0
StepsT           0
StepsA           0
StepsSD          0
DistT            0
DistA            0
DistSD           0
HRA              0
HRSD             0
floorsT          0
floorsA          0
floorsSD         0
SuenoLigero      0
SuenoProfundo    0
Clase            0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1477 entries, 0 to 1476
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   semestre       1477 non-null   int64
 1   StepsT         1477 non-null   int64
 2   StepsA         1477 non-null   float64
 3   StepsSD        1477 non-null   float64
 4   DistT          1477 non-null   float64
 5   DistA          1477 non-null   float64
 6   DistSD         1477 non-null   float64
 7   HRA            1477 non-null   float64
 8   HRSD           1477 non-null   float64
 9   floorsT        1477 non-null   int64
 10  floorsA        1477 non-null   float64
 11  floorsSD       1477 non-null   float64
 12  SuenoLigero    1477 non-null   int64
 13  SuenoProfundo  1477 non-null   int64
 14  Clase          1477 non-null   int64
dtypes: float64(9), int64(6)
memory usage: 173.2 KB

In [9]:
df['Clase'].value_counts()

1    765
2    523
3    189
Name: Clase, dtype: int64

## Preprocesamiento de datos

In [10]:
X = df.drop(columns=['Clase'])
Y = df['Clase']

In [11]:
#Balanceo de clases
oversample =SMOTE()
X, Y = oversample.fit_resample(X, Y)
Y.value_counts()

1    765
2    765
3    765
Name: Clase, dtype: int64

## DivisiÃ³n del dataset

In [12]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.30)

## Clasificador

Decision Tree

In [13]:
#decision tree
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
print("accurancy: ",model.score(x_test, y_test)*100)

accurancy:  56.313497822931794

In [14]:
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)

In [15]:
results = pd.DataFrame(result)
results.shape

(10, 6)

In [16]:
results.head(10)

,fit_time,score_time,test_accuracy,test_precision_weighted,test_recall_weighted,test_f1_weighted
0,0.038660,0.011257,0.473913,0.490720,0.473913,0.473583
1,0.022529,0.010001,0.373913,0.386377,0.373913,0.377046
2,0.031123,0.007792,0.621739,0.639323,0.621739,0.626507
3,0.031513,0.010342,0.513043,0.512987,0.513043,0.510783
4,0.029001,0.008019,0.560870,0.551246,0.560870,0.553685
5,0.032202,0.008114,0.537118,0.523694,0.537118,0.527349
6,0.039818,0.014012,0.519651,0.510769,0.519651,0.505646
7,0.031672,0.006288,0.532751,0.533407,0.532751,0.518150
8,0.023808,0.008691,0.628821,0.650457,0.628821,0.619214
9,0.028638,0.007998,0.606987,0.607544,0.606987,0.601526

In [17]:
results['test_accuracy'].mean()

0.5368805771786596

In [18]:
results['test_recall_weighted'].mean()

0.5368805771786596

In [19]:
results['test_precision_weighted'].mean()

0.5406524351855075

In [20]:
results['test_f1_weighted'].mean()

0.531348935143637

Random Forest

In [21]:
#decision tree
model = RandomForestClassifier()
model.fit(x_train, y_train)
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)
results = pd.DataFrame(result)
results.shape

(10, 6)

In [22]:
results['test_accuracy'].mean()

0.622225175621796

In [23]:
results['test_recall_weighted'].mean()

0.622225175621796

In [24]:
results['test_precision_weighted'].mean()

0.6353308539103764

In [25]:
results['test_f1_weighted'].mean()

0.6109398312899644

AdaBoost

In [26]:
model = AdaBoostClassifier()
model.fit(x_train, y_train)
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)
results = pd.DataFrame(result)
results.shape

(10, 6)

In [27]:
results['test_accuracy'].mean()

0.45008353901651804

In [28]:
results['test_recall_weighted'].mean()

0.45008353901651804

In [29]:
results['test_precision_weighted'].mean()

0.454566851818501

In [30]:
results['test_f1_weighted'].mean()

0.4444765692121728

ExtraTrees

In [31]:
model = ExtraTreesClassifier()
model.fit(x_train, y_train)
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)
results = pd.DataFrame(result)
results.shape

(10, 6)

In [32]:
results['test_accuracy'].mean()

0.6370666413518132

In [33]:
results['test_recall_weighted'].mean()

0.6370666413518132

In [34]:
results['test_precision_weighted'].mean()

0.6446944889784526

In [35]:
results['test_f1_weighted'].mean()

0.6286747234522039

KNeighbors

In [36]:
model = KNeighborsClassifier()
model.fit(x_train, y_train)
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)
results = pd.DataFrame(result)
results.shape

(10, 6)

In [37]:
results['test_accuracy'].mean()

0.547748243782039

In [38]:
results['test_recall_weighted'].mean()

0.547748243782039

In [39]:
results['test_precision_weighted'].mean()

0.5419250297948728

In [40]:
results['test_f1_weighted'].mean()

0.540811064847248

GaussinNB

In [41]:
model = GaussianNB()
model.fit(x_train, y_train)
scoring=['accuracy','precision_weighted','recall_weighted','f1_weighted']
result = cross_validate(model,X,Y,cv=10,scoring=scoring)
results = pd.DataFrame(result)
results.shape

(10, 6)

In [42]:
results['test_accuracy'].mean()

0.36427757736852096

In [43]:
results['test_recall_weighted'].mean()

0.36427757736852096

In [44]:
results['test_precision_weighted'].mean()

0.39089002522144123

In [45]:
results['test_f1_weighted'].mean()

0.29786594655419496